<extend name="home:base" />
<block name="main">
	
	<ul class="notes-list">
		<volist name="data" id="vo">
		<li>
			<h6 class="tit">
				<a href="/detail/{$vo.did}.life">{$vo.title}</a>
			</h6>
			<p class="clearfix">
				<span class="time"><i class="fa fa-calendar"></i> {$vo.created}</span>
				<span class="views "><i class="fa fa-eye"></i> {$vo.views}</span>
			</p>
			<div class="summary markdown">{$vo.contents}</div>
		</li>
		</volist>
	</ul>
	
	{$page}
	
</block>

<block name="scripts">
    <script>
        function run() {
            var image = document.getElementById('background');
            image.onload = function() {
                var engine = new RainyDay({
                    image: this
                });
				engine.rain([ [3, 2, 2] ], 100);
			};
            image.crossOrigin = 'anonymous';
            image.src = '/static/img/bg.jpg';
        }
    </script>	
</block>